[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:LuisSas/hugo-academic.git
[submodule "public"]
	path = public
	url = git@github.com:LuisSas/luissas.github.io
[submodule "themes/hugo-theme-dream"]
	path = themes/hugo-theme-dream
	url = git@github.com:LuisSas/hugo-theme-dream.git
[submodule "themes/parsa-hugo-personal-blog-theme"]
	path = themes/parsa-hugo-personal-blog-theme
	url = https://github.com/themefisher/parsa-hugo-personal-blog-theme.git
[submodule "publicc"]
	path = publicc
	url = git@github.com:LuisSas/luissas.github.io
